.articlePr4 {
    margin-top: 25%;
    background: linear-gradient(transparent, #fff);
    border-radius: 25px;
    width: min(100vw, 400px);
}

.articlePr4 .imagenes {
    padding-top: 120px;
    padding-bottom: 30px;
    flex-direction: column;
}

.articlePr4 .imagenes button img {
    filter: drop-shadow(1px 1px 3px #1a76b8);
}

.articlePr4 .imagenes button {
    width: 90%;
    position: relative;
}

/* .articlePr4 .imagenes button span {
    display: inline-block;
    font-size: 15px;
    background-color: #3e5d8c;
    color: #fff;
    width: 70%;
    border-radius: 10px;
    font-weight: bold;
    font-size: 11px;
    text-transform: capitalize;
    padding: 3px 0;
    text-decoration: numeric;
    position: absolute;
    bottom: -10px;
    left: 15%;
} */

.articlePr4 .imagenes button span {
    display: inline-block;
    font-size: 15px;
    /* background-color: #3e5d8c; */
    color: #15336f;
    /* width: 70%; */
    border-radius: 10px;
    font-weight: bold;
    font-size: 11px;
    text-transform: capitalize;
    /* padding: 3px 0; */
    text-decoration: numeric;
    position: absolute;
    bottom: 10px;
    left: 75%;
}


@media screen and (min-width: 370px) {
    .articlePr4 .imagenes {
        padding-top: 35%;
    }
}

@media screen and (min-width: 400px) {
    body {
        background-size: contain;
    }
}

@media screen and (min-width: 700px) {
    body {
        background-size: 400px;
    }
}