.articlePr4 {
    margin-top: 25%;
    background: linear-gradient(transparent, #fff);
    border-radius: 25px;
    width: min(100vw, 400px);
}

.articlePr4 .imagenes {
    padding-top: 120px;
    padding-bottom: 30px;
    flex-direction: column;
}

.articlePr4 .imagenes button img {
    filter: drop-shadow(1px 1px 3px #1a76b8);
}

.articlePr4 .imagenes button {
    width: 90%;
}


@media screen and (min-width: 370px) {
    .articlePr4 .imagenes {
        padding-top: 35%;
    }
}

@media screen and (min-width: 400px) {
    body {
        background-size: contain;
    }
}

@media screen and (min-width: 700px) {
    body {
        background-size: 400px;
    }
}