.articlePr1 {
    margin-top: 40%;
    background: linear-gradient(transparent, #fff);
    border-radius: 25px;
    width: min(100vw, 400px);
}

.articlePr1 .imagenes {
    padding-top: 120px;
    padding-bottom: 30px;
}

.articlePr1 .imagenes button {
    position: relative;
    margin-bottom: 10px;
}

.articlePr1 .imagenes button img {
    border: 2px solid #1a76b8;
}

.articlePr1 .imagenes button span {
    display: inline-block;
    background-color: #3385c0ee;
    color: #fff;
    width: 70%;
    border-radius: 10px;
    font-weight: bold;
    font-size: 11px;
    text-transform: uppercase;
    padding: 3px 0;
    position: absolute;
    bottom: -10px;
    left: 15%;
}

@media screen and (min-width: 370px) {
    .articlePr1 .imagenes {
        padding-top: 37%;
    }
}

@media screen and (min-width: 400px) {
    body {
        background-size: contain;
    }

    .articlePr1 {
        background: initial;
    }
}

@media screen and (min-width: 700px) {
    body {
        background-size: 400px;
    }

    .articlePr1 {
        background: linear-gradient(transparent, #fff);
    }
}