.articlePr2 {
    margin-top: 40%;
    width: min(100vw, 400px);
}

.articlePr2 .imagenes {
    padding-top: 70px;
    padding-bottom: 30px;
    background: linear-gradient(transparent, #fff);
    border-radius: 20px;
}

.articlePr2 .imagenes button {
    position: relative;
    margin-bottom: 10px;
}

.articlePr2 .imagenes button img {
    border: 2px solid #1a76b8;
}

.articlePr2 .imagenes button span {
    display: inline-block;
    background-color: #3385c0ee;
    color: #fff;
    width: 70%;
    border-radius: 10px;
    font-weight: bold;
    font-size: 11px;
    text-transform: uppercase;
    padding: 3px 0;
    position: absolute;
    bottom: -10px;
    left: 15%;
}

@media screen and (min-width: 370px) {
    .articlePr2 .imagenes {
        padding-top: 20%;
    }
}
