.respuesta {
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 99%;
    height: 620px;
    width: 100%;
    position: relative;
}

.respuesta h1, .respuesta span {
    font-family: "RocknRoll One", sans-serif;
}

.respuesta h1 {
    text-align: center;
    margin-top: 35%;
    color: #000;
}

.respuesta h1 span {
    color: #1a76b8;
    text-transform: capitalize;
}

.cotizacion {
    font-size: large;
    display: block;
    margin-top: 23%;
    text-align: center;
}

.botonRepetir {
    padding: 2px 10px;
    background-color: #1e1e1e;
    color: #eee;
    font-size: 0.9em;
    font-weight: initial;
    display: block;
    margin: auto;
    margin-top: 15%;
}

.respuesta main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 23%;
}

.botones {
    margin-top: 20%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.botonVideollamada {
    background-color: #1a76b8;
    color: #fff;
}

.botonWhats {
    background-color: #76add4;
    color: #fff;
}

.botones button {
    display: flex;
    align-items: center;
    padding: 4px 15px;
}

.botones button a {
    color: inherit;
    font-size: 13px;
    font-weight: bold;
    margin-left: 5px;
    text-decoration: none;
}


footer {
    display: flex;
    justify-content: center;
}

.redes {
    color: #fff;
    position: absolute;
    bottom: 10px;
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

@media screen and (min-width: 370px) {
    .respuesta {
        height: 740px;
    }

    .botones {
        margin-top: 25%;
    }

    .botonRepetir {
        margin-top: 20%;
    }
}

@media screen and (min-width: 400px) {
    .respuesta {
        width: 400px;
        height: 800px;
        background-size: 100%;
    }

    .cotizacion {
        margin-top: 25%;
    }

    .botones {
        margin-top: 28%;
    }

    .botones {
        gap: 15px;
    }
}
