.articlePr7 {
    width: min(100vw, 400px);
    height: 100dvh;
    max-height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.preguntaPresupuesto {
    display: flex;
    flex-wrap: wrap;
    align-self: flex-start;
    justify-content: left;
    margin-top: 82.5%;
    margin-bottom: 65px;
    width: 56%;
    gap: 3px;
}

.preguntaPresupuesto input {
    background-color: #e8f1f8;
    color: #267dbc;
    outline: none;
    border: none;
    width: 100%;
}

input[type="radio"] {
  accent-color: #267dbc; /* Cambia al color que prefieras */
  /* appearance: none; Elimina el estilo predeterminado del navegador */
  /* width: 13px;
  height: 13px;
  margin: 0; */
  background-color: #e8f1f8;
}

.articlePr7 button {
    font-weight: 500;
    outline: none;
    border: none;
    width: 60%;
    font-size: 15px;
    background-color: #003d7e;
    color: #fff;
    padding: 5px;
}

@media (min-width: 374px) {
    .preguntaPresupuesto {
        margin-top: 83%;
        gap: 7px;
        margin-bottom: 75px;
    }

}

@media screen and (min-width: 400px) {
    body {
        background-size: contain;
    }

    .preguntaPresupuesto {
        margin-top: 83.5%;
        gap: 8px;
        margin-bottom: 80px;
    }

    .articlePr7 button {
        width: 40%;
    }    
}