.articlePr7 {
    width: min(100vw, 400px);
    height: 100dvh;
    max-height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.preguntaPresupuesto {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 77%;
    margin-bottom: 60px;
    width: 100%;
}

.preguntaPresupuesto input {
    background-color: #e8f1f8;
    border-radius: 10px;
    padding: 10px;
    color: #267dbc;
    outline: none;
    border: none;
    font-size: 12px;
    width: 80%;
    margin: 0;
}

.preguntaPresupuesto input::placeholder {
    color: #267dbc;
    text-transform: uppercase;
    text-align: center;
}

.articlePr7 button {
    font-weight: 500;
    outline: none;
    border: none;
    width: 60%;
    font-size: 15px;
    background-color: #003d7e;
    color: #fff;
    padding: 5px;
}

@media screen and (min-width: 400px) {
    body {
        background-size: contain;
    }

    .preguntaPresupuesto {
        margin-top: 80%;
    }

    .preguntaPresupuesto input {
        width: 60%;
    }

    .articlePr7 button {
        width: 40%;
    }    
}