.articlePr3 {
    background-image: url("/3.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
}

.articlePr3 .imagenes {
    padding-top: 150px;
    padding-bottom: 30px;
}